<style>
  .simple_form .btn {
     background-color: #0069D9;
     padding: 8px 24px;
     color: #ffffff;
  }

  label #user_remember_me {
    margin-right: 5px;
  }
</style>

<div class='page-width'>
  <h2 style='text-align: center'>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), input_html: { class: 'form-group' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "first_name", class: 'form-control' }%>
                  <br>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "last_name", class: 'form-control' }%>
                  <br>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email", class: 'form-control' }%>
                  <br>
      <%= f.input :avatar %>
      <%= f.input :avatar_cache, as: :hidden %>     
                  <br>             
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password", class: 'form-control' } %>
                  <br>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password", class: 'form-control' } %>
                  <br>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>