<h1 style='text-align: center; border-top: 1px solid black; padding-top: 100px'>All Posts</h1>

<div class='page-width'>
    <% @posts.each do |post| %>
    <div class='post-card'>
        <h2> <%= link_to post.title, post_path(post) %></h2>
        <div class='card-details'>
            <p id='date'><%= post.date %> </p>
            <div class='details'>
                <%= link_to 'Edit Post', edit_post_path(post) %>
                <%= link_to 'Delete Post', post_path(post), method: :delete %>
            </div>
        </div>
    </div>
    <% end %>

    <%= link_to 'New Post', new_post_path %>

</div>