<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= favicon_link_tag 'favicon.ico', type: 'image/png' %>
  </head>

  <body>
    <div class='page-resize'>
      <div class='nav-container'>
          <div class='nav-logo'>
              <p style='margin: 0'><%= link_to image_tag('mutable_matter_logo.png', height: 50, width: 50), root_path %> Mutable Matter</p>
          </div>
          <div class='nav-options'>
              <ul class='nav-list'>
                  <li><%= link_to 'All Posts', posts_path %></li>
                  <% if user_signed_in? %>
                  <% if current_user.email == 'velisjoel@gmail.com' %>
                  <li><%= link_to 'New Post', new_post_path %></li>
                  <% end %>
                  <%# <%= cl_image_tag current_user.avatar, height: 40, width: 40, style: 'border-radius: 50%', crop: :fill %>
                  <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                  <% else %>
                  <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                  <li><%= link_to 'Sign In', new_user_session_path %></li>
                  <% end %>
              </ul>
          </div>
      </div>

      <div class='mobile-nav'>
          <div class='nav-container-mobile'>
              <div class='nav-logo'>
                  <p style='margin: 0'><%= link_to image_tag('mutable_matter_logo.png', height: 50, width: 50), root_path %> Mutable Matter</p>
              </div>
              <a href="javascript:void(0);" style='color: black; font-size: 24px' class="icon" onclick="myFunction()">
                  <i class="fa fa-bars"></i>
              </a>
          </div>
          <div class='nav-options'>
              <ul class='nav-list-mobile'>
                  <li><%= link_to 'All Posts', posts_path %></li>
                  <% if user_signed_in? %>
                  <li><%= link_to 'New Post', new_post_path %></li>
                  <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                  <% else %>
                  <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                  <li><%= link_to 'Sign In', new_user_session_path %></li>
                  <% end %>
              </ul>
          </div>
      </div>
    </div>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
    <script>function myFunction() {
    var x = document.querySelector(".nav-list-mobile");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
  </script>
  </body>
</html>
